body{
  background: #eeeeee;}
.main{
  text-align: center;}
.menu{display: flex;; font-size: 20px; justify-content: space-between; }
.mokuzi{font-size: 20px; text-align: center; font-weight: bold;}
th{width: 200px;}

@media screen and (max-width:600px){
  
}
@media screen and (min-width:600px){

}
@media screen and (min-width:1000px){

}