th{width: 300px;font-weight: bold; border: 5px double ; border-radius: 10px; padding: 8px 0 8px 0; text-align: center;background: #CAE9FF;background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #E7F8FC), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #E7F8FC),color-stop(.75, #E7F8FC), color-stop(.75, transparent),to(transparent));-webkit-background-size: 14px 14px;}
td{border: double 5px;}
body{margin: 0; background: #eeeeee;}.main{text-align: center;}
.menu{display: flex;; font-size: 20px; justify-content: space-between; }
.mokuzi{font-size: 20px; text-align: center; font-weight: bold;}
table{margin: auto;}span{display: block;}
.haba{margin:4px auto;}
.kesu{display: none;}


@media screen and (min-width:600px){
th{width: 500px;}
}

@media screen and (min-width:1000px){
th{width: 800px;}
}