table{
  border-radius: 5px;
}
@media screen and (max-width: 600px){
  .mo{margin:0 10px -30px -20px; font-weight: bold;}
  .wa{margin: 0 10px -30px 5px;} .do{margin: 0 5px -30px 0;}
  .syu{ margin: 0 0}
  .po{text-align: center; font-size: 40px; padding: 10px; margin: 10px auto; border: 5px double ; border-radius: 10px; background: #99ffcc; font-weight: bold
  }.in{font-size: 18px; line-height: 30px;}body{background: #eeeeee;margin: 0;}
  .rid{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double ; border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;
  background: #99ffff;}.dod{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double ; border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;background: #99ffff;}
  .fi{font-size: 20px;list-style: none;display: flex;}
  .ta{border: solid 3px; width: 500px;}
  th{width: 100px;} td{width: 250px;}
}

@media screen and (min-width: 600px){
  .mo{margin:0 50px -30px 40px; font-weight: bold;}
  .wa{margin: 0 40px -30px 20px;} .do{margin: 0 -1px -30px 20;}
  .syu{ margin: 0 0 0 40px}
  .po{text-align: center; font-size: 40px; padding: 10px; margin: 10px auto; border: 5px double ; border-radius: 10px; background: #99ffcc; font-weight: bold
  }.in{font-size: 18px; line-height: 30px;}body{background: #eeeeee;margin: 0;}
  .rid{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double;
    background: #99ffff;  border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;}.dod{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double ; border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;background: #99ffff;}
    .ri{margin-left:200px;} .fi{font-size: 20px;list-style: none;display: flex;}
  th{width: 100px;} td{width: 350px;}
}

@media screen and (min-width:1000px){
  .mo{margin:0 50px -30px 40px; font-weight: bold;}
  .wa{margin: 0 40px -30px 20px;} .do{margin: 0 -1px -30px 20;}
  .syu{ margin: 0 0 0 40px}
  .po{text-align: center; font-size: 40px; padding: 10px; margin: 10px auto; border: 5px double ; border-radius: 10px; background: #99ffcc; font-weight: bold
  }.in{font-size: 18px; line-height: 30px;}body{background: #eeeeee;margin: 0;}
  .rid{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double ;background: #99ffff; border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;}.dod{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double ; border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;background: #99ffff;}
  .ri{margin-left:200px;} .fi{font-size: 20px;list-style: none;display: flex;}
  th{width: 200px;} td{width: 350px;}
}


