table{
  border-radius: 5px;
}
body{
  margin: 0;
}

body{background: #eeeeee;margin: 0;}
@media screen and (max-width: 600px){
  .mo{margin:0 10px -30px -20px; font-weight: bold;}.wa{margin: 0 10px -30px 5px;} .do{margin: 0 5px -30px 0;}.syu{ margin: 0 0} .ph{margin:15px 0 15px 0;}
  .po{height: 150px; text-align: center; font-size: 40px; margin: 10px auto; border: 5px double ; border-radius: 10px; background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px;font-weight: bold}.in{font-size: 18px; line-height: 30px;}.minititle{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double ; border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;background: #CAE9FF;
      background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #E7F8FC), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #E7F8FC),color-stop(.75, #E7F8FC), color-stop(.75, transparent),to(transparent));
      -webkit-background-size: 14px 14px;}.fi{font-size: 20px;list-style: none;display: flex;}.ta{border: solid 3px; width: 500px;}th{width: 100px;} td{width: 250px;}
  span{display: block;}.kindle{width: 300px; height: 100px; background: white;margin: 0 auto; border: solid 3px;color: gray;}.kindleimg{width: 100px;height: 100px;}.kinlink{color: black;  margin:10px ;}}

@media screen and (min-width: 600px){
  .mo{margin:0 50px -30px 40px; font-weight: bold;}.wa{margin: 0 40px -30px 20px;} .do{margin: 0 -1px -30px 20;}.syu{ margin: 0 0 0 40px}
  .po{text-align: center; font-size: 40px; padding: 10px; margin: 10px auto; border: 5px double ; border-radius: 10px; background:background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px;font-weight: bold}.in{font-size: 18px; line-height: 30px;}body{background: #eeeeee;margin: 0;}
  .minititle{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double;background: #CAE9FF;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #E7F8FC), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #E7F8FC),color-stop(.75, #E7F8FC), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px;;  border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;}.ri{margin-left:200px;} .fi{font-size: 20px;list-style: none;display: flex;}th{width: 100px;} td{width: 350px;}
    .kindle{width: 500px; height: 200px; background: white;margin: 0 auto; border: solid 3px;color: gray;}.kindleimg{width: 200px;height: 200px;}.kinlink{ color: black;  margin:50px 30px 30px 10px ;}}

@media screen and (min-width:1000px){
  .mo{margin:0 50px -30px 40px; font-weight: bold;}
  .wa{margin: 0 40px -30px 20px;} .do{margin: 0 -1px -30px 20;}.syu{ margin: 0 0 0 40px}
  .po{text-align: center; font-size: 40px; padding: 10px; margin: 10px auto; border: 5px double ; border-radius: 10px; background:background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px;font-weight: bold}.in{font-size: 18px; line-height: 30px;}body{background: #eeeeee;margin: 0;}
  .minititle{font-size: 35px; font-weight: bold; margin:20px auto 20px auto; border: 5px double ;background: #CAE9FF;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #E7F8FC), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #E7F8FC),color-stop(.75, #E7F8FC), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px; border-radius: 10px; width: 300px; padding: 8px 0 8px 0; text-align: center;}.ri{margin-left:200px;} .fi{font-size: 20px;list-style: none;display: flex;}th{width: 200px;} td{width: 350px;}
  .kindle{width: 300px; height: 100px; background: white;margin: 0 auto; border: solid 3px;color: gray;}.kindleimg{width: 100px;height: 100px;}.kinlink{color: black;display: block;}
}


